body {
    width: 960px;
    margin: 0 auto;
}

header{ 
    margin-top: 15px;
    background-color: #36404e;
    height: 200px;
   
}
header a {
    color: rgb(255, 255, 255);
}
h1 {
    padding: 25px;
    padding-left: 60px;
    font-size: 60px;
}








a:link {
    background-color: cha#687b96;
    text-decoration: none;